<ul id="main-links" class="nav navbar-nav">

        <!-- News Dropdown -->
        <li class="dropdown" data-id="news">
          <a href="http://venturebeat.com" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">NEWS</a>
          <div id="news" class="dropdown-menu" style="display: none;">

            <!-- Top Portion -->
            <div class="row dropdown-primary">

              <!-- Channels -->
              <div class="col-sm-12 link-list no-left-pad">
                <div class="header-container">
                  <h3 class="header">CHANNELS</h3>
                </div>
                <div class="row no-pad">
                  <div class="col-sm-4 no-pad">
                    <ul>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/games/">GamesBeat</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/big-data/">Big Data</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/business/">Business</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/cloud/">Cloud</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/deals/">Deals</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <ul>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/dev/">Dev</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/enterprise/">Enterprise</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/entrepreneur/">Entrepreneur</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/media/">Media</a></li>
                      <li class="list-item-link bottom"><a href="http://venturebeat.com/category/mobile/">Mobile</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <ul>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/marketing/">Marketing</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/security/">Security</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/small-biz/">Small Biz</a></li>
                      <li class="list-item-link"><a href="http://venturebeat.com/category/social/">Social</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bottom Portion -->
            <div class="row dropdown-secondary">
              <div class="col-sm-4 no-pad">
                <ul>
                  <li class="top"><a href="http://venturebeat.com/contact/">Got a news tip?</a></li>
                  <li><a href="http://venturebeat.com/surveys">Surveys</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul>
                  <li class="top"><a href="http://venturebeat.com/newsletters/">Newsletters</a></li>
                  <li><a href="http://venturebeat.com/webinars/">Webinars</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul>
                  <li class="top"><a href="http://multimedia.venturebeat.com/">Multimedia</a></li>
                  <li><a href="http://venturebeat.com/advertise/">Advertise</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- Events Dropdown -->
        <li class="dropdown" data-id="events">
          <a href="http://events.venturebeat.com" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">EVENTS</a>
          <div id="events" class="dropdown-menu">

            <!-- Top Portion -->
            <div class="row dropdown-primary">

              <!-- VB Events -->
              <div class="col-sm-4 link-list no-left-pad">
                <div class="header-container">
                  <h3 class="header">VB EVENTS</h3>
                </div>
                <ul>
                  <li class="list-item-link"><a href="http://events.venturebeat.com/#upcoming_events">Upcoming Events</a></li>
                </ul>
              </div>

              <!-- Get Involved -->
              <div class="col-sm-8 link-list">
                <div class="header-container">
                  <h3 class="header">GET INVOLVED</h3>
                </div>
                <div class="row no-pad">
                  <div class="col-sm-6 no-pad">
                    <ul>
                      <li class="list-item-link"><a href="http://venturebeat.com/advertise/contact/">Sponsor</a></li>
                      <li class="list-item-link bottom"><a href="http://events.venturebeat.com/speaking/">Speaker</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                      <li class="list-item-link"><a href="mailto:partners@venturebeat.com">Media Partner</a></li>
                      <li class="list-item-link bottom"><a href="https://docs.google.com/a/venturebeat.com/forms/d/1wtWn2vpDjjVFxX5_4c4Ztv5LFiyRXlokDl-_ZOsIav8/viewform">Volunteer</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bottom Portion -->
            <div class="row dropdown-secondary">
              <div class="col-sm-4 no-pad">
                <ul>
                  <li class="top"><a href="http://venturebeat.com/contact/">Got a news tip?</a></li>
                  <li><a href="http://venturebeat.com/surveys">Surveys</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul>
                  <li class="top"><a href="http://venturebeat.com/newsletters/">Newsletters</a></li>
                  <li><a href="http://venturebeat.com/webinars/">Webinars</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul>
                  <li class="top"><a href="http://multimedia.venturebeat.com/">Multimedia</a></li>
                  <li><a href="http://venturebeat.com/advertise/">Advertise</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- Research Dropdown -->
        <li class="dropdown" data-id="research">
          <a href="http://insight.venturebeat.com" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">RESEARCH</a>
          <div id="research" class="dropdown-menu">

            <!-- Top Portion -->
            <div class="row dropdown-primary">

              <!-- Categories -->
              <div class="col-sm-8 link-list no-left-pad">
                <div class="header-container">
                  <h3 class="header">CATEGORIES</h3>
                </div>
                <div class="row no-pad">
                  <div class="col-sm-6 no-pad">
                    <ul>
                      <li class="list-item-link"><a href="http://insight.venturebeat.com/reports/marketing-technology">Marketing Tech</a></li>
                      <li class="list-item-link bottom"><a href="http://insight.venturebeat.com/reports/mobile">Mobile</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                      <li class="list-item-link"><a href="http://insight.venturebeat.com/reports/gaming">Gaming</a></li>
                      <li class="list-item-link bottom"><a href="http://insight.venturebeat.com/reports/miscellaneous">Miscellaneous</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Learn More -->
              <div class="col-sm-4 link-list">
                <div class="header-container">
                  <h3 class="header">LEARN MORE</h3>
                </div>
                <ul>
                  <li class="list-item-link"><a href="http://insight.venturebeat.com/vb-insight-top-ten">VB Top Ten</a></li>
                  <li class="list-item-link bottom"><a href="http://insight.venturebeat.com/content/marketing-technology-subscription">Subscription</a></li>
                </ul>
              </div>
            </div>

            <!-- Bottom Portion -->
            <div class="row dropdown-secondary">
              <div class="col-sm-4 no-pad">
                <ul>
                  <li class="top"><a href="http://venturebeat.com/contact/">Got a news tip?</a></li>
                  <li><a href="http://venturebeat.com/surveys">Surveys</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul>
                  <li class="top"><a href="http://venturebeat.com/newsletters/">Newsletters</a></li>
                  <li><a href="http://venturebeat.com/webinars/">Webinars</a></li>
                </ul>
              </div>
              <div class="col-sm-4">
                <ul>
                  <li class="top"><a href="http://multimedia.venturebeat.com/">Multimedia</a></li>
                  <li><a href="http://venturebeat.com/advertise/">Advertise</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

      </ul>